* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/*new*/

.touch_section {
  width: 100%;
  padding-top: 57px;
  margin-bottom: 47px;
  display: inline-block !important;
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
.touch_text {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #000;
  color: #050000;
  font-size: 22pt;
  font-weight: bold;
}
.lets_touch_main {
  width: 100%;
  float: left;
  /* background-color: #072833; */
  background-color: #2F2F31;
  padding-top: 40px;
  padding-bottom: 40PX;
}
.contact_main {
  width: 100%;
  float: left;
  padding-top: 30px;
}
.contact_section_2 {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding-top: 40px;
}
.input_main {
  width: 100%;
  float: left;
  background-color: #FFFFFF;
  padding: 40px 20px;
}
button.main_bt {
  background: #EA192B;
  border: none;
  color: white !important;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
}
.send_btn {
  padding-left: 15px;
}
.lorem_text {
    width: 100%;
    float: left;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 35px;
    padding-top: 80px;
}
.rContact{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  background-color: #2F2F31;
  margin-left: -15px;
}
.cln {
  background-color: #2F2F31 !important;
}

.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: purple;
}
.Toastify__toast--success {
  background: teal;
}
.Toastify__toast--warning {
  background: yellow;
}
.Toastify__toast--error {
  background: red;
}
