.link-set {
  color: rgba(255, 255, 255, 0.877) !important;
  text-decoration: none !important;
  margin: 6px;
}
.link-set:hover {
  color: white !important;
}
.NavBarMain {
  display: flex;
  background-color: black;
}
.ContentNav {
  padding: 10px;
}
.container-rd {
  height: 60vh;
  overflow-y: auto;
}

.display-flex {
  display: flex;
}

.logo {
  width: 172px;
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 172px;
  margin: 15px 0 10px 0;
}

.logoRd2 p {
	font-size: 14px;
}
.logoRd2 a {
  color: #fff;
  
}.logoRd2:hover {
    color: #fff;
  }
.logoRd2 span {
	position: static !important;
	color: #FF5C26 !important;
}
.orange-line-btn {
	border-color: #FF5C26 !important;
	background-color: #FF5C26 !important;
	color: #fff !important;
}
.container-rd {

  margin-top: 6rem !important;
  margin-bottom: 10rem !important;
  margin-right: -50px;
  margin-left: -50px;
}
h2 {
      font-size: 35px;
      font-weight: 700;
}
h3 {
      font-size: 25px;
      margin-top: 20px;
  }